<a href="https://colab.research.google.com/github/Mhd-yousefi-1995/PYthon-learning/blob/main/PYTHON_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**let's start**

Variables and Data Types

In [ ]:
# Integer variable
age = 25

# Float variable
price = 9.99

# String variable
name = "John Doe"

# Boolean variable
is_valid = True

In [ ]:
# Arithmetic operators
num1 = 10
num2 = 3

addition = num1 + num2  # 10 + 3 = 13
subtraction = num1 - num2  # 10 - 3 = 7
multiplication = num1 * num2  # 10 * 3 = 30
division = num1 / num2  # 10 / 3 = 3.3333 (float division)
modulo = num1 % num2  # 10 % 3 = 1 (remainder after division)
exponentiation = num1 ** num2  # 10^3 = 1000

In [ ]:
# Comparison operators
age = 25

is_adult = age >= 18  # True (25 is greater than or equal to 18)
is_teenager = age < 20  # False (25 is not less than 20)
is_equal = age == 25  # True (age is equal to 25)
is_not_equal = age != 30  # True (age is not equal to 30)

In [ ]:
# Logical operators
is_valid = True
is_member = False

result1 = is_valid and is_member  # False (both conditions are not True)
result2 = is_valid or is_member  # True (at least one condition is True)
result3 = not is_valid  # False (negation of is_valid)

Control Flow

In [ ]:
# Conditional statements
age = 18

if age >= 18:
    print("You are an adult.")
elif age >= 13:
    print("You are a teenager.")
else:
    print("You are a child.")

In [ ]:
# For loop
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

# While loop
count = 0

while count < 5:
    print("Count:", count)
    count += 1

Functions

In [ ]:
# Function definition
def greet(name):
    print("Hello, " + name + "!")

# Function call
greet("John")

In [ ]:
# Function definition with return value
def add_numbers(num1, num2):
    sum = num1 + num2
    return sum

# Function call
result = add_numbers(10, 5)
print("Sum:", result)

Classes and Object-Oriented Programming (OOP)

In [ ]:
# Class definition
class Circle:
    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):
        area = 3.14 * self.radius**2
        return area

# Creating objects (instances)
circle1 = Circle(5)
circle2 = Circle(3)

# Accessing attributes and methods
print("Circle 1 radius:", circle1.radius)
print("Circle 2 radius:", circle2.radius)

area1 = circle1.calculate_area()
area2 = circle2.calculate_area()

print("Circle 1 area:", area1)
print("Circle 2 area:", area2)

Data Structures

In [ ]:
# List example
fruits = ["apple", "banana", "cherry"]
print(fruits)  # Output: ['apple', 'banana', 'cherry']

# Accessing elements
first_fruit = fruits[0]
print(first_fruit)  # Output: 'apple'

# Modifying elements
fruits[1] = "pear"
print(fruits)  # Output: ['apple', 'pear', 'cherry']

In [ ]:
# Tuple example
person = ("John", 25, "USA")
print(person)  # Output: ('John', 25, 'USA')

# Accessing elements
name = person[0]
print(name)  # Output: 'John'

In [ ]:
# Dictionary example
student = {
    "name": "John",
    "age": 20,
    "grade": "A"
}
print(student)  # Output: {'name': 'John', 'age': 20, 'grade': 'A'}

# Accessing elements
age = student["age"]
print(age)  # Output: 20

# Modifying elements
student["grade"] = "B"
print(student)  # Output: {'name': 'John', 'age': 20, 'grade': 'B'}

In [ ]:
# Set example
numbers = {1, 2, 3, 4, 5}
print(numbers)  # Output: {1, 2, 3, 4, 5}

# Adding elements
numbers.add(6)
print(numbers)  # Output: {1, 2, 3, 4, 5, 6}

Modules and Packages

In [ ]:
# math_operations.py
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

In [ ]:
# main.py
import math_operations
result = math_operations.add(5, 3)
print("Result:", result)

Exception Handling

In [ ]:
try:
    # Code that may raise an exception
    x = 10 / 0
except ZeroDivisionError:
    # Handling the specific exception
    print("Error: Division by zero")

In [ ]:
try:
    # Code that may raise an exception
    x = 10 / 0
except:
    # Handling any type of exception
    print("An error occurred")

In [ ]:
try:
    # Code that may raise an exception
    file = open("nonexistent.txt", "r")
except FileNotFoundError:
    # Handling specific exception
    print("Error: File not found")
except PermissionError:
    # Handling specific exception
    print("Error: Permission denied")
except:
    # Handling any other exception
    print("An error occurred")